html {
    margin: 10px 20px 20px;
}

/* Centering the content of the navs */
.head .container {
    text-align: center;
}


header {
    padding: 0 50px;
}

div .nav {
    margin: 0 20px;
    position: fixed;
}

/* Style the links inside the navigation bar */
.nav a {
    font-family: 'Noto Sans  SC', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 14px 40px;
    font-size: 1em;
    float: left;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

/* Style the text on nav */
p.navbar-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    float: left;
}

/* Style the link to move form left to right */
div .nav-right {
    float: right;
    margin-top: 12px;
}

/* Style of jumbotron */
div.jumbotron {
    color: white;
    height: 600px;
    text-align: center;
}

.parallax {
    background-image: url(../images/abstract-abstract-painting-art-1193743.jpg);
    opacity: 0.8;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 8px 8px white inset;
}


.jumbotext {
    margin-top: 150px;
}



/* About section */
#about {
    text-align: center;
}

.column1 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0 50px 0 20px;
}

img {
    width: 30%;
    border-radius: 5%;
    margin-bottom: 5%;
}

.column2 {
    float: left;
    width: 50%;
    text-align: center;
    padding-left: 50px; 
    margin-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.skills {
    text-align: left;
    margin-bottom: 0;
}

div.progress-bar {
    background-color: black;
}

div.progress{
    width: 500px;
    height: 20px;
    margin-bottom: 15px;
}


/* Portfolio section */
h1#portfolio {
    text-align: center;  
    margin-top: 0;  
}

div.grid2 {
    background-color: lightblue;
    padding: 30px 0 50px 0;
}

img.img2 {
    margin: 0 40px 48.828px 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 75%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  /* Contact section */
.contact {
    background-image: url(../images/computer-device-electronics-872958.jpg);
    background-size: cover;
    background-position: 0% 0%;
    opacity: 0.8;
    height: 100%;
    text-align: center;
}

h1#contact {
    margin-top: 0;
    margin-bottom: 60px;
    padding-top: 50px;
    text-transform: uppercase;
}

input {
    width: 500px;
    height: 40px;
    -webkit-border-radius:20px;
    border: none;
    outline: none;
    padding-left: 20px;
    margin-bottom: 500px;
}

textarea {
    width: 500px;
    -webkit-border-radius:20px;
    border: none;
    outline: none;
    padding: 20px 20px 0 20px;
}

button.submit {
    -webkit-border-radius:20px;
    width: 120px;
    height: 50px;
    border: none;
    margin: 20px 0 50px 0;
    font-size: 15px;
    font-weight: bold;
}

button.submit:hover {
    background-color: pink;
    width: 160px;
    transition: all .5s ease-in-out;
}

i {
    font-size: 15px;
}

/* Style of footer */
footer {
    height: 250px;
    padding: 40px;
    text-align: left;
    background-color: #dd5303;
    font-weight: bold;
}

div.foot1 {
    float: left;
}

p.email {
    margin-bottom: 0;
}

p.tel {
    margin-bottom: 35px;
}

p.street {
    margin-bottom: 0;
}

p.address {
    font-weight: normal;
}


i.far.fa-copyright::before {
    text-anchor: middle;
    position: sticky;
    top: 0;
  
}











/* -------------------------------------------------------------------------------------------------------------- */

/* RESPONSIVE DESIGN */
@media only screen and (min-width: 480px) {

    /* Style the text on nav */
    p.navbar-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: right;
    }

    /* Style the links inside the navigation bar */
    .nav a {
        font-family: 'Noto Sans  SC', sans-serif;
        font-weight: bold;
        color: black;
        text-align: center;
        margin: 14px 20px;
        font-size: 1em;
    }
  
}


@media only screen and (min-width: 698px) {
    .column {
      width: 230px;
      height: 230px;
      display: inline;
      float: left;
    }
  }
  
  .column {
    width: 230px;
    height: 230px;
    margin: auto;
  }