/* Styling of html */


body {
    margin-top: 10px;
    background-color: #FFE85C;
}

/* Navbar styling */
nav.navbar {
    margin-top: 15px;
    margin-bottom: 15px;
}

a.button.is-rounded {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 30px;
}

a.button.is-rounded:hover {
    text-decoration: none;
    transition-delay: 50ms;
    color: #FFE85C;
}

/* Style of jumbotron */
div.jumbotron {
    height: 570px;
    text-align: center;
}

.parallax {
    background-image: url(../images/abstract-astronomy-dark-924824.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotext {
    margin-top: 200px;
    color: #FFE85C;
    text-align: left;
    padding-left: 30px;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}

h1.name {
    margin-bottom: 20px;
    letter-spacing: 20px;
    
}

/* About section */
h1#about {
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
}

main.column1 {
    float: left;
    width: 50%;
    text-align: center; 
}

img.image1 {
    width: 30%;
    margin-bottom: 5%;
    margin-top: 80px;
    margin-left: 200px;
}

.column2 {
    float: left;
    width: 50%;
    text-align: center;
    padding-left: 50px 0 0 50px; 
    margin-top: 100px; 
}

p.about {
    padding-right: 250px;
}

/* Portfolio section */
h1#portfolio {
    text-align: center;  
    padding: 20px 0 20px 0; 
    margin: 50px 0 50px 0;
    background-color: black;
    font-size: 20px;
    color: white;
}

img.portfolio {
    width: 200px;
    height: 300px;
    margin-right: 40px;
    opacity: 0.5;
}

.row1,
.row2 {
    padding-bottom: 20px;
    padding-left: 200px;
}

/* Contact Section */



/* Style of footer */
footer {
    height: 180px;
    margin-top: 80px;
    padding: 20px 40px;
    text-align: left;
    background-color: #FFE85C;
    font-weight: bold;
}



/* -------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE DESIGN */
/* -------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {

    a.navbar-brand {
        float: left;
        color: black;
        font-size: 20px;
        padding: 15px;
    }
    
    div.column1 {
        display: block;
        width: 100%;
        
    }

    img.image1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;     
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
  
    div.progress{
        width: 400px;
        height: 20px;
        margin-bottom: 15px;
    }

    h1#contact {
        margin-top: 0;
        margin-bottom: 40px;
        padding-top: 20px;
        text-transform: uppercase;
    }
    
    input {
        width: 400px;
        height: 30px;
        -webkit-border-radius:20px;
        border: none;
        outline: none;
        padding-left: 20px;
        margin-bottom: 500px;
    }
    
    textarea {
        width: 400px;
        -webkit-border-radius:20px;
        border: none;
        outline: none;
        padding: 20px 20px 0 20px;
    }

    button.submit {
        -webkit-border-radius:20px;
        width: 120px;
        height: 50px;
        border: none;
        margin: 20px 0 30px 0;
        font-size: 15px;
        font-weight: bold;
    }

    footer {
        height: 200px;
        padding: 20px;
        background-color: #dd5303;
        font-weight: bold;
    }
    
}



@media only screen and (max-width:793px) {
    div.column {
        display: inline;
        width: 80%;
    }

    img.image1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;     
    }

    img {
            width: 300px;
            height: 500px;
            margin-right: 20px;
            padding-bottom: 20px;
            align-items: center;
    }

    .row1,
    .row2 {
    padding-bottom: 20px;
    padding-left: 80px;
    position: relative;
}

}