html {
    margin: 10px 20px 20px;
}

/* Centering the content of the navs */
.container {
    text-align: center;
}

header {
    padding: 0 50px;
}

div .nav {
    margin: 0 20px;
    position: fixed;
}

/* Style the links inside the navigation bar */
.nav a {
    font-family: 'Noto Sans  SC', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 14px 40px;
    font-size: 1em;
    float: left;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

/* Style the text on nav */
p.navbar-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    float: left;
}

/* Style the link to move form left to right */
div .nav-right {
    float: right;
    margin-top: 12px;
}

/* Style of jumbotron */
div.jumbotron {
    color: white;
    height: 600px;
    text-align: center;
}

.parallax {
    background-image: url(../images/abstract-abstract-painting-art-1193743.jpg);
    opacity: 0.8;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 8px 8px white inset;
}


.jumbotext {
    margin-top: 150px;
    font-family: 
}

/* About section */

#about {
    text-align: center;
}

/* Work experience style grid */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    text-align: center;
}

/* Style of footer */
footer {
    padding: 10px;
    text-align: center;
    background-color: #dd5303;
    opacity: 0.9;
}









/* -------------------------------------------------------------------------------------------------------------- */

/* RESPONSIVE DESIGN */
@media only screen and (min-width: 480px) {

    /* Style the text on nav */
    p.navbar-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: right;
    }

    /* Style the links inside the navigation bar */
    .nav a {
        font-family: 'Noto Sans  SC', sans-serif;
        font-weight: bold;
        color: black;
        text-align: center;
        margin: 14px 20px;
        font-size: 1em;
    }
  
}